@import "globals";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$text-color: #ffffff;
$bg-color: #2A2A2C;

$title-1: #ffffff;
$title-2: #4E4E50;
$title-3: #F0920C;